service:
  - key: template_log_save
    module: empty
    params:
      data_list:
        check:
          template: "{{data_list|must}}"
          err_msg: 数据列表不能为空
    handler_params:
      - key: template_log_msg
        type: template_event_log
        save_field: template_event_log_list
      - key: service2field
        enable: "{% if template_event_log_list|length >0 %} True {% else %} False {% endif%}"
        service:
          service: config.save_template_log
          template_event_log_list: template_event_log_list
        save_field: log_save
    result_handler:
      - key: add_param
        params:
          from_field: template_event_log_list
          to_field: template_event_log_list
  - key: save_template_log
    module: bulk_create
    params:
      template_event_log_list:
        check:
          template: "{{template_event_log_list|must}}"
          err_msg: 保存列表不能为空

    handler_params:
      - key: update_data
        foreach: template_event_log_list
        item: item
        fields:
          - field: template_event_log_id
            template: "{{uuid()}}"
          - field: msg
            template: "{{item.msg|substr(0,3000)}}"
    model_field: template_event_log_list
    model: TemplateEventLog
  - key: router
    log: true
    params:
      to_tree:
        default: true
      group_icon:
        default: "insight-file"
      item_icon:
        default: "insight-service"

    must_login: false
    module: 'config'
    config:
      services:
        - key: start
          type: start
          name: 开始
          next: config
        - key: config
          type: node
          name: 获取配置
          config_data:
            group_icon: group_icon
            item_icon: item_icon
          save_field: config
          next: end
          fail: end
        - key: end
          type: end
          name: 结束
    result_handler:
      - key: param2result
        params:
          field: config

  - key: flow_nodes
    module: config
    must_login: false
    log: true
    params:
      target:
        default: "server.install_monitor"

      height:
        default: 80
      width:
        default: 120
      start_x:
        default: -600
      start_y:
        default: -200
      x_distance:
        default: 200
      y_distance:
        default: 140

    config:
      services:
        - key: start
          type: start
          name: 开始
          next: config
        - key: config
          type: node
          name: 获取原始节点
          node_data:
            target: target
          save_field: nodes
          next: init_node
          fail: end
        - key: init_node
          type: node
          name: 初始化节点坐标
          init_node:
            node: nodes
            height: height
            width: width
            start_x: start_x
            start_y: start_y
            x_distance: x_distance
            y_distance: y_distance
          save_field: node_links
          next: end
          fail: end
        - key: end
          type: end
          name: 结束
    result_handler:
      - key: param2result
        params:
          field: node_links

  - key: service_content
    module: ssh
    must_login: false
    log: true
    params:
      path:
        default: "project_manage/service.yml"
      dir:
        template: "{{'collect_file_path'|get_key|dirname}}"

    shell:
      services:
        - key: start
          type: start
          name: 开始
          next: file_content
        - key: file_content
          type: node
          name: 获取文件
          file_content:
            file: "{{dir}}/{{path}}"
          next: end
          fail: end
          save_field: content
        - key: end
          type: end
          name: 结束
    result_handler:
      - key: param2result
        params:
          field: content

  - key: dir_tree
    module: ssh
    must_login: false
    params:
      dir:
        template: "{{'collect_file_path'|get_key|dirname}}"
    shell:
      services:
        - key: start
          type: start
          name: 开始
          next: dir_tree
        - key: dir_tree
          type: node
          name: 生成文件树
          dir_tree:
            dir: "{{dir}}"
          next: end
          fail: end
          save_field: tree
        - key: end
          type: end
          name: 结束
    result_handler:
      - key: param2result
        params:
          field: tree

